<!DOCTYPE html>
<html>
<head>
  <title>Advancedsearch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Advanced Search", new_search_path %>
<%= yield %>

</body>
</html>
